<%= erb :form %>

<table>
<% arg[:stats].each do |stat| %>
  <tr class="border_upper">
    <th colspan="6"><%= h stat.name %></th>
  </tr>
  <tr class="border_upper">
    <td>Health</td>
    <td><%= stat.health %></td>
    <td>Knockback times</td>
    <td><%= stat.knockbacks %></td>
    <td>Speed</td>
    <td><%= stat.speed %></td>
  </tr>
  <tr class="border_middle">
    <td>Production cost</td>
    <td><%= stat.production_cost %></td>
    <td>Production cooldown</td>
    <td><%= stat_time stat.production_cooldown %></td>
    <td>Attack cooldown</td>
    <td><%= stat_time stat.attack_cooldown %></td>
  </tr>
  <tr class="border_middle">
    <td>Attack cycle</td>
    <td><%= stat_time stat.attack_cycle %></td>
    <td>Attack duration</td>
    <td><%= stat_time stat.attack_duration %></td>
    <td>Rush duration</td>
    <td><%= stat_time stat.rush_duration %></td>
  </tr>
  <% if stat.long_range? %>
  <tr class="border_middle">
    <td></td>
    <td></td>
    <td>Range</td>
    <td><%= stat.range %></td>
    <td>Enemy base range</td>
    <td><%= stat.base_range %></td>
  </tr>
  <% end %>
  <% if stat.attacks.size > 1 %>
  <tr class="border_middle">
    <td>DPS sum</td>
    <td><%= stat_int(stat.dps_sum) %></td>
    <td>Max DPS area</td>
    <td><%= stat.max_dps_area %></td>
    <td>Damage sum</td>
    <td><%= stat.damage_sum %></td>
  </tr>
  <% end %>
  <% each_attack(stat) do |attack| %>
  <tr class="border_upper <%= attack_tr_class(attack) %>">
    <td>DPS</td>
    <td><%= stat_int(attack.dps) %></td>
    <td><%= stat.area_type %></td>
    <td><%= attack.area_display %></td>
    <td>Damage</td>
    <td><%= attack.damage %></td>
  </tr>
  <tr class="border_lower <%= attack_tr_class(attack) %>">
    <% if attack.kind_of?(BattleCatsRolls::TriggeredAttack) %>
    <td colspan="2"><%= attack.triggered_effect.display_short %></td>
    <% else %>
    <td>Duration</td>
    <td><%= stat_time attack.duration %></td>
    <% end %>
    <td>Trigger effects</td>
    <td colspan="3"><%= attack.display_effects %></td>
  </tr>
  <% end %>
  <% stat.specialized_abilities.each do |ability| %>
  <tr class="border_middle">
    <td><%= ability.name %></td>
    <td colspan="5"><%= ability.display(&method(:stat_time)) %></td>
  </tr>
  <% end %>
  <% if stat.generic_abilities.any? %>
  <tr class="border_middle">
    <td></td>
    <td colspan="5">Abilities below will not be affected by curse</td>
  </tr>
  <% stat.generic_abilities.each do |ability| %>
  <tr class="border_middle">
    <td><%= ability.name %></td>
    <td colspan="5"><%= ability.display(&method(:stat_time)) %></td>
  </tr>
  <% end %>
  <% end %>
<% end %>
  <tr class="border_bottom"></tr>
</table>

<ul>
  <% if cat = arg[:stats].first %>
  <li><a href="<%= uri_to_cat_db(cat) %>">にゃんこ大戦争データベース</a></li>
  <li><a href="<%= uri_to_my_gamatoto(cat) %>">My Gamatoto</a></li>
  <% end %>
  <li>Checkout BCJP if data is missing. BCJP has the most complete data. BCEN lacks a lot of data</li>
  <li>Assuming maxed blue orbs, treasures, and legend stages cost</li>
</ul>
